API_KEY:13060eaf460c2071aee53d8e0f52c085
SECRET_KEY:568e017ae510337fc2cf48bdcb2d09e8
AP_ID:127757220576552
FACEBOOK_APURL:http://apps.facebook.com/leavearmycountdown/
AP_URL:http://www.tonylin.idv.tw/LogoutArmyCD/
AP_NAME:leavearmycountdown
FORUM_URL:http://www.facebook.com/armyCountdownForum
